### Druhý úkol
bude pro prodejce normalizovat hodnotu pole `telephone`, tak že formát bude obsahovat mezinárodní předčíslí např. pro francouzské telefonní čísla +33 tj. pro číslo 777 681 550 bude výsledek +33 777681550.

In [144]:
import pandas as pd
from typing import Dict, Union

Reading csv file and store it as pandas dataframe

In [135]:
df = pd.read_csv('dealers.csv')

Cast `telephone` column to a string type

In [141]:
df['telephone'] = df['telephone'].astype('str')

Creating subdataframe just with `country` and `telephone` columns

In [139]:
df_tel = df[['country', 'telephone']]
# df_tel

     country             telephone
0     France             466361627
1      Italy          +39070240537
2     France          +33297331790
3     France         +330298425857
4     France        04.67.98.12.90
...      ...                   ...
3791   Italy        tel:0923581766
3792  France      tel:+33422138244
3793   Italy  07768636723314957140
3794   Italy             436862467
3795  France         +330321354367

[3796 rows x 2 columns]

Dictionary with countries and country codes

In [142]:
country_codes = {
    'Italy': '+39',
    'France': '+33'
    # add more countries
    # and their codes
}

In [145]:
def normalize_phone_number(row: pd.Series, country_codes: Dict[str, str]) -> Union[str, pd.Series]:
    """
    Normalize the phone number in a DataFrame row 
    based on the country code dictionary.

    Args:
        row (pd.Series): A row from the DataFrame 
        containing the 'country' and 'telephone' columns.
        
        country_codes (Dict[str, str]): A dictionary mapping 
        country names to their respective country codes.

    Returns:
        Union[str, pd.Series]: The normalized phone number, 
        including the international prefix if applicable, 
        or the original phone number if the country 
        is not found in the country codes dictionary.
    """
    
    country = row['country']
    
    if country in country_codes:
        country_code = country_codes[country]
        normalized_number = ''.join(filter(str.isdigit, row['telephone']))
        
        if normalized_number.startswith(country_code.strip('+')):
            return f"+{normalized_number[:2]} {normalized_number[2:]}"
        
        normalized_number = f"{country_code} {normalized_number}"
        return normalized_number
    
    else:
        return row['telephone']

df_tel['telephone'] = df_tel.apply(normalize_phone_number, args=(country_codes,), axis=1)
df_tel

C:\Users\Radim Jedlicka\AppData\Local\Temp/ipykernel_23472/2082847931.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tel['telephone'] = df_tel.apply(normalize_phone_number, args=(country_codes,), axis=1)

     country                 telephone
0     France             +33 466361627
1      Italy             +39 070240537
2     France             +33 297331790
3     France            +33 0298425857
4     France            +33 0467981290
...      ...                       ...
3791   Italy            +39 0923581766
3792  France             +33 422138244
3793   Italy  +39 07768636723314957140
3794   Italy             +39 436862467
3795  France            +33 0321354367

[3796 rows x 2 columns]