### Druhý úkol
bude pro prodejce normalizovat hodnotu pole `telephone`, tak že formát bude obsahovat mezinárodní předčíslí např. pro francouzské telefonní čísla +33 tj. pro číslo 777 681 550 bude výsledek +33 777681550.

In [3]:
import pandas as pd

In [130]:
df = pd.read_csv('dealers.csv')

In [102]:
df

,id,brand,eshop,lat,lng,country,address,web,telephone,email
0,6105d615-25c7-49b8-b564-2b5801f5c156,gt,Vaunage Passion Velos Sarl,43.813962,4.348726,France,"165 Av. Jean Prouvé, Nîmes, 30000, FR",NaN,466361627,NaN
1,6441b601-37d9-4862-9a1e-3d47e8fcf12f,scott,VADILONGA SRL,39.251569,9.138519,Italy,"VIALE ELMAS 172, CAGLIARI, 09122",NaN,+39070240537,filippo@vadilonga.it
2,9534c4c5-a68b-4d80-a0fc-6a98cd7f06b0,kalkhoff,SARL Cycles Charreteur,47.785181,-3.340796,France,"Rue Jean Baptiste Mertenot 330, Caudan, 56850",NaN,+33297331790,cycleschedaleuxcaudan@gmail.com
3,850475e2-fe0a-493d-8d7c-95e6c608a17e,scott,CYCLEXPERTS BREST,48.428370,-4.458959,France,"RUE ROSEMONDE GERARD 5, GOUESNOU, 29850",www.cyclexperts-brest.com,+330298425857,contact@cyclexperts-brest.com
4,989897bd-430a-412e-9f6e-0120b783c10c,superior,CYCLES CHABBERT,43.461200,3.422830,France,"1 AVENUE FRNCOIS HUE, PEZENAS, 34120",NaN,04.67.98.12.90,cycles.chabbert@orange.fr
...,...,...,...,...,...,...,...,...,...,...
3791,d0c6c1b3-3683-41a8-aa7f-963b441c84e0,ktm,Bike Shop di Nocitra Antonio,38.025335,12.544002,Italy,"Via Convento San Francesco di Paoloa, 85 91100...",NaN,tel:0923581766,bikeshoptp@gmail.com
3792,1d585e7e-aa8c-4917-b238-852f0d8d772d,ktm,SAS OVELO CYCLES,43.696864,7.240972,France,49 BOULEVARD DE LA MADELEINE 06000 NICE,www.ovelo.fr,tel:+33422138244,nice@ovelo.fr
3793,c71f95bf-3812-4c3b-b711-0081193033c1,trek,PRO RACING BIKE,41.490505,13.835380,Italy,"CORSO DELLA REPUBBLICA 198 CASSINO , 03043 Italy",www.bikeoutletshop.it,07768636723314957140,NaN
3794,3eb3394d-aadf-455d-a1b0-9ab569d1654f,mongoose,Snow Service,46.546644,12.136058,Italy,"Via IV Novembre 13, Cortina (BL), 32043, IT",NaN,436862467,info@snowservice.it
3795,27175f88-c330-4473-8d45-894a84aede09,kalkhoff,SAS Fabien Pochet,50.872216,2.068378,France,"Rue du Chateau d Eau 239, Audruicq, 62370",NaN,+330321354367,cyclesfabienpochet@orange.fr

In [131]:
df['telephone'] = df['telephone'].astype('str')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3796 non-null   object
 1   brand      3796 non-null   object
 2   eshop      3796 non-null   object
 3   lat        3796 non-null   float64
 4   lng        3796 non-null   float64
 5   country    3796 non-null   object
 6   address    3796 non-null   object
 7   web        1538 non-null   object
 8   telephone  3796 non-null   object
 9   email      2762 non-null   object
dtypes: float64(2), object(8)
memory usage: 296.7+ KB

In [132]:
df_tel = df[['country', 'telephone']]
# df_tel

In [115]:
country_codes = {
    'Italy': '+39',
    'France': '+33'
}

In [133]:
def normalize_phone_number(row, country_codes):
    country = row['country']
    if country in country_codes:
        country_code = country_codes[country]
        normalized_number = ''.join(filter(str.isdigit, row['telephone']))
        if normalized_number.startswith(country_code.strip('+')):
            normalized_number = f"+{normalized_number[:2]} {normalized_number[2:]}"
            return normalized_number
        
        normalized_number = f"{country_code} {normalized_number}"
        return normalized_number
    else:
        return row['telephone']

df_tel['telephone'] = df_tel.apply(normalize_phone_number, args=(country_codes,), axis=1)
df_tel

C:\Users\Radim Jedlicka\AppData\Local\Temp/ipykernel_23472/1707809010.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tel['telephone'] = df_tel.apply(normalize_phone_number, args=(country_codes,), axis=1)

     country                 telephone
0     France             +33 466361627
1      Italy             +39 070240537
2     France             +33 297331790
3     France            +33 0298425857
4     France            +33 0467981290
...      ...                       ...
3791   Italy            +39 0923581766
3792  France             +33 422138244
3793   Italy  +39 07768636723314957140
3794   Italy             +39 436862467
3795  France            +33 0321354367

[3796 rows x 2 columns]